@font-face{
    font-family: 'orange juice';
    url: ('orange-juice-2.0.ttf');
}
span{
    display:inline-block;
}
body{
    margin: 0;
    .stopwatch{ 
        margin: 0 auto;
        height: 300px;
        width: 300px;
        background-color:#673AB7;
        text-align: center;
        border-radius: 30px;
    }
    .timer{
        color: #fff;
        font-size: 70px;
    }
    .start{
        background-color: #388E3C;
    }
    .stop{
        background-color: #c00c00;
    }

}